.vs
AutoMapperTest/bin
AutoMapperTest/obj
FormAuthenticationTest/bin
FormAuthenticationTest/obj
HelloNHibernate/bin
HelloNHibernate/obj
LINQ/bin
LINQ/obj
OrderingSystem/bin
OrderingSystem/obj
packages
YieldTest/bin
YieldTest/obj




